xsd/XMLSchema_1210350368.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://ws.massarotto.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.massarotto.com.br/">

<xs:element name="primeiroMetodo" type="tns:primeiroMetodo"></xs:element>

<xs:element name="primeiroMetodoResponse" type="tns:primeiroMetodoResponse"></xs:element>

<xs:element name="segundoMetodo" type="tns:segundoMetodo"></xs:element>

<xs:element name="segundoMetodoResponse" type="tns:segundoMetodoResponse"></xs:element>

<xs:complexType name="segundoMetodo">
<xs:sequence>
<xs:element name="parametro" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="segundoMetodoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="primeiroMetodo">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="primeiroMetodoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>